@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);


body{
    font-family: Michroma, serif;
    background: linear-gradient(25deg, #ff00ea 0%, #1d1b1b 100%);
}

p{
    color: rgb(210, 136, 81); 
}

.nav-link{
    color: rgb(210, 136, 81);
}

.navbar-nav .nav-link.active{
    color:rgb(193, 9, 187);
    font-weight: bold;
}

.navbar-brand img{
    width:35px;
    margin: 0;
    padding: 0;

}

.navbar-toggler{
    background-color:rgb(88, 59, 59)
}

.sidebar{
    color: rgb(210, 136, 81);
    background: linear-gradient(270deg, #ff00ea 0%, #1d1b1b 100%);
}

.card{
    color: rgb(210, 136, 81);
    background: linear-gradient(270deg, #ff00ea 0%, #1d1b1b 100%);

}
.card a{
  text-decoration: none;
  color: rgb(210, 136, 81);
}

.slide-text{
    color: rgb(210, 136, 81);
    margin: auto auto;
}

.footer-text{
    color: rgb(88, 59, 59);
    margin: auto auto;
}

footer,
.btn-primary
{
    background: linear-gradient(90deg, #ff00ea 0%, #1d1b1b 100%);
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width:755px){
    .carousel-indicators{
        display: none;
    }
}